@import "../../variables.module";

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%;
  // Prevent Safari/IOS body scrolling when modal is open
  touch-action: none;
  -ms-touch-action: none;
}
menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 15px black;
  // Start of menu animation
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0.7s, width 0.7s;
  z-index: 1;

  ul {
    text-align: center;
    margin-top: 6rem;

    li {
      list-style: none;
      margin: 2.5rem 0;

      a {
        color: black;
        font-size: 3rem;
        // text-transform: uppercase;
        // letter-spacing: 0.5rem;
      }
    }

    .border {
      height: 1px;
      width: 20rem;
      background-color: $orange;
      margin: auto;
    }
  }
}

.open {
  width: 80%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s, visibility 0.7s, width 0.7s;
}

.hide {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition-delay: 0.5s;
}
