@import "../../../variables.module";

.view {
  background-color: $orange;
  border: none;
  color: $white;
  display: block;
  font-size: 2.4rem;
  font-family: $primary-text;
  height: 4rem;
  margin: 0 auto 2rem auto;
  width: 14rem;
}
