.wrapper {
  margin-top: 13rem;
  height: 100vh;

  form {
    border: 2px solid black;
    font-family: "Coolvetica";
    margin: 0 3rem;

    div {
      .sign-up {
        background-color: white;
        border: none;
        border-bottom: 2px solid #ff6700;
        border-left: 2px solid #ff6700;
        color: #ff6700;
        font-family: "Coolvetica";
        font-size: 2.6rem;
        padding: 1rem 0;
        width: 50%;
      }

      .inactive {
        color: #c0c0c0;
        border: none;
        border-bottom: 2px solid #c0c0c0;
      }
    }

    .customer-info {
      padding: 2rem;

      input {
        border: 1px solid black;
        border-radius: 0;
        height: 4rem;
        font-family: "Libre Baskerville";
        font-size: 1.6rem;
        padding-left: 1rem;
        width: 100%;
      }

      input:focus {
        outline: none;
        caret-color: #ff6700;
      }

      .password {
        display: flex;
        border: 1px solid black;
        align-items: center;

        input {
          border: none;
        }

        button {
          border: none;
          background-color: white;
          padding-right: 1rem;
        }
      }

      h3 {
        font-family: "Libre Baskerville";
        margin-top: 1rem;
      }

      .requirements {
        display: flex;
        margin-top: 1rem;

        img {
          width: 1.2rem;
        }

        p {
          color: #880d1e;
          font-family: "Libre Baskerville";
          font-size: 1.2rem;
          margin-left: 1rem;
        }

        .valid {
          color: #4ecb71;
        }
      }

      .submit {
        background-color: #ff6700;
        border: none;
        color: white;
        font-family: "Coolvetica";
        font-size: 2.6rem;
        margin-top: 2rem;
        padding: 0.5rem 0;
        width: 100%;
      }
    }
  }
}

.titles {
  font-size: 2rem;
  margin-top: 1rem;
}

.error-styling {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  p {
    color: #880d1e;
    display: none;
    font-size: 1.2rem;
  }
}
