.container {
  margin-top: 6.5rem;
  overflow: hidden;

  .slidecontainer {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 30rem;

    .slide {
      display: inline-flex;
      height: 100%;
      object-fit: contain;
      width: 100%;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  .productdetailscontainer {
    margin: 0 3rem;
    font-family: "Libre Baskerville", sans-serif;

    .section {
      border-bottom: 1px solid #c0c0c0;
      padding: 2rem 0;

      .producttitle {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }

      .productprice {
        font-size: 1.6rem;
        font-weight: bold;
      }

      .sizelayout {
        display: flex;

        .sizebox {
          border: 1px solid black;
          height: 4rem;
          width: 4rem;
          margin-top: 2rem;
          margin-right: 2rem;
          position: relative;

          p {
            font-size: 1.5rem;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .nonselected {
          border: 1px solid #7777;

          p {
            color: #777;
          }
        }
      }

      .colorway {
        margin-top: 2rem;

        .colorbox {
          border: 1px solid black;
          width: 12rem;
          height: 4rem;
          position: relative;

          p {
            font-size: 1.5rem;
            position: absolute;
            top: 25%;
            left: 25%;
          }
        }
      }
    }
  }
}

.indicators {
  display: flex;
  justify-content: center;

  & > button {
    margin: 5px;
  }
}

.addtobag {
  background-color: #ff6700;
  border: none;
  color: white;
  height: 6rem;
  width: 16rem;
  font-family: "Coolvetica", sans-serif;
  font-size: 1.8rem;
  display: block;
  margin: 2rem auto;
}

.accordian {
  margin: 6rem 3rem 2rem 3rem;

  .accordiancard {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1rem;

    .accordianquestion {
      display: flex;
      align-items: center;

      img {
        height: 2rem;
      }

      p {
        font-size: 1.4rem;
        margin-left: 0.5rem;
      }
    }
  }
}
