.container {
  margin-top: 6.5rem;
  overflow: hidden;

  .slidecontainer {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 30rem;

    .slide {
      display: inline-flex;
      height: 100%;
      object-fit: contain;
      width: 100%;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  .productdetailscontainer {
    margin: 0 3rem;
    font-family: "Libre Baskerville", sans-serif;

    .section {
      border-bottom: 1px solid #c0c0c0;
      padding: 2rem 0;

      .producttitle {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }

      .productprice {
        font-size: 1.6rem;
        font-weight: bold;
      }

      .sizelayout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .sizebox {
          border: 1px solid black;
          height: 4.5rem;
          width: 4.5rem;
          margin-top: 2rem;
          margin-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 1.5rem;
          }
        }

        // .nonselected {
        //   border: 1px solid #7777;

        //   p {
        //     color: #777;
        //   }
        // }
      }

      .colorway {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .colorbox {
          border: 1px solid black;
          width: 12rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .addtobagcontainer {
    margin: 2rem 3rem 0 3rem;
    height: 6rem;
    display: flex;

    .addtobag {
      background-color: #ff6700;
      border: none;
      color: white;
      height: 6rem;
      width: 60%;
      font-family: "Coolvetica", sans-serif;
      font-size: 1.8rem;
    }

    .quantity {
      font-family: "Libre Baskerville", sans-serif;
      display: inline-flex;
      width: 40%;
      justify-content: center;

      .finalquantity {
        border: 1px solid #c0c0c0;
        margin-right: 2rem;
        padding: 1.5rem 2rem;

        p {
          font-size: 1.4rem;
          margin-top: 0.5rem;
        }
      }

      .quantitycontrols {
        display: inline-flex;
        flex-direction: column;
        width: 4rem;

        :nth-child(2) {
          border-top: 1px solid black;
        }

        button {
          background-color: white;
          border: none;

          img {
            height: 2.6rem;
          }
        }

        .increase {
          transform: rotate(-90deg);
        }

        .decrease {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.nonselected {
  border: 1px solid #7777 !important;

  p {
    color: #777;
  }
}

.indicators {
  display: flex;
  justify-content: center;

  & > button {
    margin: 5px;
  }
}

.accordian {
  margin: 6rem 3rem 2rem 3rem;

  .accordiancard {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1rem;

    .accordianquestion {
      display: flex;
      align-items: center;

      img {
        height: 2rem;
        transition: all 0.3s linear;
      }

      p {
        font-size: 1.4rem;
        margin-left: 0.5rem;
      }
    }

    .answer {
      font-family: "Libre Baskerville", sans-serif;
      margin: 0 0 0 2.5rem;
      transition: max-height 0.4s linear;
      height: auto;
      max-height: 20rem;
      overflow: hidden;

      p {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      ul {
        li {
          margin-left: 2rem;
        }
      }
    }
  }
}

.hide {
  max-height: 0 !important;
}

.rotate {
  transform: rotate(90deg);
}
