.category-hero-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 10rem;
  width: 100%;

  .category-hero {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.category-container {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 22rem);
  margin: 2rem 3rem;
  row-gap: 1rem;

  .product-container {
    // border: 1px #c0c0c0 solid;
    border: 1px #eeee solid;

    div {
      height: 16rem;
      width: 100%;

      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }

    .product-details {
      // border-top: 1px solid #c0c0c0;
      border-top: 1px solid #eeee;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Libre Baskerville";
      height: 6rem;
      padding: 0.5rem 1rem;

      .product-price {
        align-self: flex-end;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}

.view {
  background-color: #ff6700;
  border: none;
  color: white;
  display: block;
  font-size: 2rem;
  font-family: "Coolvetica";
  height: 4rem;
  margin: 0 auto 2rem auto;
  width: 12rem;
}
