@import "./variables.module";
// @font-face {
//   font-family: Coolvetica;
//   src: url("./Assets/Fonts/coolveticarg.ttf");
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: $primary-text;
}
