.skeleton {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    #e5e5e5;
  background-repeat: repeat-y;
  background-size: 5rem 20rem;
  background-position: 0 0;
  animation: gradient 1s infinite;
}

@keyframes gradient {
  to {
    background-position: 100% 0, 0 0;
  }
}

.slides {
  height: 30rem;
  border-bottom: 1px solid #c0c0c0;
}

.details {
  margin: 0 3rem;

  .section {
    border-bottom: 1px solid #c0c0c0;
    padding: 2rem 0;

    :nth-child(1) {
      margin-bottom: 1.5rem;
    }

    .large {
      height: 2rem;
      width: 60%;
      border-radius: 1rem;
    }

    .medium {
      height: 1.5rem;
      width: 40%;
      border-radius: 1rem;
    }

    .options {
      height: 2rem;
      width: 60%;
      border-radius: 1rem;
    }
  }
}
