.section {
  margin-top: 6.5rem;
}

.hero-container {
  height: 10rem;
  width: 100%;
  border-bottom: 1px solid black;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.product-page-container {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 22rem);
  margin: 2rem 3rem;
  row-gap: 1rem;

  .product-container {
    border: 1px #eeee solid;
  }
}
